<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 1<br>Introduction to Core Concepts, ER Modeling, Relational Algebra, SQL<br>
</span>
</center></i>

# Introduction

This notebook contains Homework 1. **Both Programming and Nonprogramming tracks should complete this homework.**

# Submission Instructions

- You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
- For the PDF:
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
    - **MAKE SURE YOU DON'T SUBMIT A SINGLE PAGE PDF.** Your PDF should have multiple pages.
- For the ZIP:
    - Zip a folder containing this notebook and any screenshots.
    - You may delete any unnecessary files, such as caches.

<hr style="height:2px;">

# Add Student Information

In [80]:
# Print your name, uni, and track below

name = "Dongzhou LI"
uni = "dl3648"
track = "Programming Track"

print(name)
print(uni)
print(track)

Dongzhou LI
dl3648
Programming Track

# Setup

## SQL Magic

The `sql` extension was installed in HW0. Double check that if this cell doesn't work.

In [81]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

You may need to change the password below.

In [82]:
%sql mysql+pymysql://root:dbuserbdbuser@localhost

In [83]:
%sql SELECT * FROM db_book.student WHERE ID = 12345

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1049, "Unknown database 'db_book'")
[SQL: SELECT * FROM db_book.student WHERE ID = 12345]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Python Libraries

In [84]:
from IPython.display import Image
import pandas

<hr style="height:2px;">

# Written Questions

Chapter 1 from the recommended textbook [Database System Concepts, Seventh Edition](https://codex.cs.yale.edu/avi/db-book/) covers general information and concepts about databases and database management systems. Lecturing on the general and background information is not a good use of precious class time. To be more efficient with class time, the chapter 1 information is a reading assignment.

Answering the written questions in HW 1, Part 1 does not require purchasing the textbook and reading the chapter. The [chapter 1 slides](https://codex.cs.yale.edu/avi/db-book/slides-dir/index.html) provided by the textbook authors provide the necessary information. In some cases, students may also have to search the web or other sources to “read” the necessary information.

When answering the written questions, do not “bloviate”. The quantity of words does not correlate with the quality of the answer. We will deduct points if you are not succinct. The answers to the questions require less than five sentences or bullet points.

### “If you can't explain something in a few words, try fewer.”

You may use external resources, but you should cite your sources.

## W1

What is a database management system and how do relational databases organize data?

*A Database Management System (DBMS) is software that interfaces with end users, applications, and the database itself to gather and process data
Relational databses is a common type of DBMS. They strcucture data into tables, which are composed of rows and columns. Each table symbolizes an entity, where rows hold individual records and columns represent attributes. Data structuring is based on the interrelations among tables, utilizing keys (typically primary keys) to interlink records throughout the tables. This relatonal framwork facilitates efficient data access and supports the execution of complex queries using SQL.*

## W2

Columbia University uses several applications that use databases to run the university. Examples are SSOL and CourseWorks. An alternate approach could be letting students, faculty, administrators, etc. use shared Google Sheets to create, retrieve, update, and delete information. What are some problems with the shared spread sheet approach and what functions do DMBS implement to solve the problems?

*1. Data Redundancy: Using Google sheet can lead to unnecessary duplication since the same data might be stored in multiple locations across various sheets. DBMSs apply normalization methods to reduce this data redundancy and guarantee more efficient data storage. 2. Scalability: As the scale of a university expands, so does the volume of data and the number of users, potentially quite significantly. DBMSs are engineered to be scalable, which allows educational institutions to manage growing datasets and increasing user activity without a drop in system performace. 3. Data Retrieval and Query Complexity. As the amount of data and its complexiy increase, sourcing and querying information in Google sheets can become laborious. DBMSs, however, provide SQL queries and indexing capabilities that enable the efficient extraction of particular data points, even from extensive datasets.*

## W3

Explain the differences between SQL, MySQL Server and DataGrip.

*SQL is a language used for querying and managing relational databases. MySQL Server is a specific RDBMS that uses SQL. DataGrip is an IDE that enables developers to work with various database systems, such as MySQL. It leverages SQL for operations and includes additional functionalities that enhance the efficiency of database development and management tasks.*

## W4

Crow’s Foot Notation has four endings for relationship lines. Briefly explain the meaning of each ending.

1. One or Zero relationship, each record in one table may correspond to either one record in another table or none at all. This implies that the relationship is optional on one side. 
2. One and only One relationship, each record in one table has exactly one record in another table. This indictes a strict, one-to-one correspondence between records in both tables 
3. Zero or Many relationship, each record in one table may be related to none, one or several records in another table. This is the most common type of relationship, where the relationship on the other side is optional, and on the other side, it can have multiple associated records 
4. One or Many relationship, each recore in one table is related to one or several records in another table, but each record in the second table must match one record in the former. This implies a compulsory relationship on one side.

<img src="./CFN.png">

## W5

What is a primary key and why is it important?

*The primary key is a chosen candidate key that uniquely defines each tuple within a table. A candidate key is a type of super key where no subset of the key is by itself a super key in the table. A super key is a set of one or more attributes that can uniquely identify a record in a table. Its importance lies in its uniqueness, which avoids the possibility of duplicative or redundant entries in the table.*

## W6

The relational algebra is closed under the operators. Explain what this means and give an example.

*The output from one operation can turn into the input to another operation, allowing expressions to be nested in the relational algebra. Example: If you have a table of "Students" and a table of "Enrollments", and you join them to find students enrolled in a specific course, the result is a new table listing those students—a demonstration of closure.*

## W7

Some of the Columbia University databases/applications represent the year/semester attribute of a section in the form "2023_2". The first four characters are the academic year, and the last character is the semester (1, 2, or 3). The data type for this attribute might be CHAR(6). Using this example, explain the concepts of domain and atomic domain. How is domain different from type?

*A domain defines the entire set of possible values that a certain column or attribute in a database may hold. It specifies the permissible range of values and limitations for the attribute. Take the "year/semester" attribute as an example, where the domain is set to encompass every potential combination of a four-digit year and a single-digit semester number, separated by an underscore, like "2023_3" or "2024_1".
The term atomic domain is used to describe the most fundamental, non-divisible component of a domain. This represents the simplest form of data type that cannot be broken down further. In our "year/semester" attribute case, the atomic domain could be characterized as a character string of a specific length, 6. While the atomic domain is a singular string, the complete domain includes all potential valid pairings that follow the established format, such as "2023_2".*

## W8

Briefly explain the difference between a database schema and database instance.

*The schema is the comprehensive outline of a database, detailing its logical and structural framework. However, it doesn't contain the actual data; instead, think of it as the blueprint or architectural design of the database.
Conversely, an instance is the concrete set of data and information stored within the database at a specific point in time. It includes all the records, values, and interconnections that constitute the database's present contents.*

## W9

Briefly explain the concepts of data definition language and data manipulation language.

*Data Definition Language involves commands for defining and modifying the database structure, including creating, altering, and deleting tables and schemas. It shapes the database but doesn't deal with data content. Data Manipulation Language focuses on managing and manipulating the data within the database, including inserting, updating, deleting, and retrieving data. It's about handling the data itself, not the database structure.*

## W10

What is physical data independence?

*Physical data independence is the ability to change the physical storage of data (how data is stored on disk) without affecting the way data is viewed and accessed by applications. This means that changes to the database's physical layer do not require modifications to the schemas or applications that interact with the data.*

<hr style="height:2px;">

# Entity-Relationship Modeling

## Overview

The ability to understand a general description of a requested data model and to transform into a more precise, specified _logical model_ is one of the most important skills for using databases. SW and data engineers build applications and data models for end-users. The end-users, product managers and business managers are not SW or data modeling experts. They will express their _intent_ in imprecise, text and words.

The users and business stakeholder often can understand and interact using a _conceptual model_ but details like keys, foreign keys, ... are outside their scope.

In this problem, you will:
- Understand a short written description of a requested data model.
- Produce a _conceptual data model diagram_ using Lucidchart.
- Produce a _logical data model diagram_ using Lucidchart.

You can sign up for a free [Lucidchart account.](https://www.lucidchart.com/pages/landing) The free account provides the capabilities you will need for this course.

To draw the diagrams, you need to add the _entity relationship_ shapes. Lecture 2 demonstrated how to add the shapes.

| <img src="./lucidchart.jpg"> |
| :---: |
| __Adding Entity Relationship Shapes__|

We provide a simple [Lucidchart document](https://lucid.app/lucidchart/828777b1-7b2d-4828-bedb-37b6d456c33e/edit?invitationId=inv_a142899a-7e60-44e9-b18e-335d7c9767fc) from Lecture 2 that helps you get started. You need a Lucidchart account to access the document and diagrams.

## Data Model Description

The data model represents banks, customers. employees and accouts. The model has the following entity types/sets:
1. _Customer_
2. _Employee_ of the banking company
3. _Branch,_ which is a location of one of the banks offices
4. _Savings Account_
5. _Checking Account_
6. _Loan_
7. _Portfolio_


_Customer_ has the following properties:
- _customerID_
- _lastName_
- _firstName_
- _email_
- _dateOfBirth_


_Employee_ has the following properties:
- _employeeID_
- _lastName_
- _firstName_
- _jobTitle_


_Branch_ has the following properties:
- _branchID_
- _zipCode_


_Savings Account_ has the following properties:
- _accountID_
- _balance_
- _interestRate_


_Checking Account_ has the following properties:
- _accountID_
- _balance_


_Loan_ has the following properties.
- _loanID_
- _balance_
- _interestRate_


_Portfolio_ has the following properties:
- _portfolioID_
- _createdDate_

The data model has the following relationships:
- _Customer Branch_ connects a customer and a branch. A _Customer_ is connected to exactly one _Branch_. A _Branch_ may have 0, 1 or many customers.
- _Employee Branch_ connects an employee and a branch. An _Employee_ is connected to exactly one _Branch_. A _Branch_ may have 0, 1 or many associated employees.
- _Savings Account Branch_, _Checking Account Branch_, and _Loan Branch_ all have the same pattern.
    - An account/loan has exactly one branch.
    - A _Branch_ many have 0, 1 or many accounts/loans.
- _Savings Customer_, _Checking Customer_, _Loan Customer_, and _Portfolio Customer_ follow the same pattern. 
    - The account/loan has exactly one customer.
    - The customer may have 0 or 1 of each type of account.
- A _Portfolio_ is related to exactly one _Customer_, exactly one _Savings Account_, exactly one _Checking Account_, and exactly one _Loan_.
- _Portfolio Advisor_ relates a _Portfolio_ and _Employee_. An _Employee_ may be the advisor for 0, 1 or many _Portfolios_. A _Portfolio_ may have at most one _Employee_ advisor.

## Answer

1. Place your Logical Model diagram below.
2. You _may_ have to add attributes to entities to implement the model.
3. You _may_ make reasonable assumptions. Please document your assumptions below. You may add comments/notes to your diagram for clarity.

Assumptions:
1. A savings account can be in 0 or 1 portfolios. Same applies for checking account and loan.
2. A branchID is used as a FK in account/ loan as each account and loan must be related to a branch.
3. An employeeID is applied as a FK in the portfolio entity to represent advisot relatosnhip. 
4. A customerID is used as a FK in account/ loan to represent their relationship.
5. The remaining FKs in the portfolio entityu represent that portfolio relates to savingsAccountID, checkingAccountID, loanID respectively.

ER Diagram:

Save your diagram to an image, place in the same directory as your notebook and change the file name in the HTML ```img``` tag in this Markdown cell.

| <img src="https://raw.githubusercontent.com/dl364823/hw1/main/diagram.png"> |
| :---: |
| __Logical ER Diagram__|

# Relational Algebra

## R-1

The following is the SQL DDL for the `db_book.classroom` table.

```
CREATE TABLE IF NOT EXISTS db_book.classroom
(
    building    VARCHAR(15) NOT NULL,
    room_number VARCHAR(7)  NOT NULL,
    capacity    DECIMAL(4)  NULL,
    PRIMARY KEY (building, room_number)
);
```

Using the notation from the lecture slides, provide the corresponding relation schema definition.

classroom(<u>building</u>, <u>room_number</u>, capacity)

## Answer Format

For the answers to the relational algebra questions, you will use the [RelaX calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) with the schema associated with the book. You answer should include the algebra statement in as text and a screenshot of the execution result. Question __R0__ below shows a sample of that the answer will look like.

## R0

Write a relational algebra statement that produces a table of the following form:
- ID is the instructor ID
- name is the instructor name
- course_id, sec_id, semester, year of a section
- building, room_number

__Note:__
1. You will have to use the instructor, teaches and section relations
2. Your answer should only include sections taught in ```Comp. Sci.``` in ```2009```

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __RO Execution Result__|

## R1

Write a relational algebra statement that produces a relation with the columns:

- `student.name`
- `student.dept_name`
- `student.tot_cred`
- `instructor.name` (the instructor that advises the student)
- `instructor.dept_name`

Only keep students who have earned more than 90 credits.

__Note:__
1. You will have to use the `student`, `instructor`, and `advisor` relations.
2. You should only include students that have an advisor, i.e., `instructor.name` and `instructor.dept_name` should be non-null for all rows.

Algebra statement:

```
π student.name, student.dept_name, student.tot_cred, instructor.name, instructor.dept_name
(σ tot_cred > 90 student ⨝ student.ID = advisor.s_id advisor ⨝ advisor.i_id = instructor.ID instructor)
```

Execution:
| <img src="https://raw.githubusercontent.com/dl364823/hw1/main/R1.png"> |
| :---: |
 __R1 Execution Result__

## R2

Write a relational algebra statement that produces a relation with the columns:

* `course_id`
* `title`
* `prereq_course_id`
* `prereq_course_title`

This relation represents courses and their prereqs.

__Note:__
1. This query requires the ```course``` and ```prereq``` tables.
2. Your answer should only include courses in the `Comp. Sci.` department.
2. If a course has no prereqs, `prereq_course_id` and `prereq_course_title` should both be *null*.
3. You _may_ have to use table and column renaming.

Algebra statement:

```
ρ prereq_course_id←p.prereq_id, prereq_course_title←pc.title 
π c.course_id, c.title, p.prereq_id, pc.title σ c.dept_name = 'Comp. Sci.'
( ( ρ c course ⟕ c.course_id = p.course_id ρ p prereq ) ⟕ p.prereq_id =
pc.course_id ρ pc course )

```

Execution:
| <img src="https://raw.githubusercontent.com/dl364823/hw1/main/R2.png"> |
| :---: |
__R2 Execution Result__

# SQL

## New Database

[MySQL Tutorial](https://www.mysqltutorial.org/) is a good site with information that complements and extends the core material in our course. Much of the material the site covers is applicable to other SQL products. MySQL Tutorial uses an interesting dataset that is more complex than the simple "db_book" database. This is the [Classic Models Dataset](https://www.mysqltutorial.org/getting-started-with-mysql/mysql-sample-database/). The complexity allows us to better appreciate more complex SQL concepts.


You learned how to run a SQL script/file as part of HW0. **Use the same approach to load and create the ```Classic Models Database```.** The file is ```classic-models-database.sql``` and is in the HW1 folder. 


To test loading the data, you can use the cell below.

In [85]:
%sql USE classicmodels;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [86]:
%sql show tables;

 * mysql+pymysql://root:***@localhost
8 rows affected.

[('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',)]

## SQL 1

This query uses `customers` and `employees`.

Write and execute a SQL query that produces a table with the following columns:

- `customerContactName`
- `customerPhone`
- `salesRepName`

Only keep customers from France. Order your output by `customerContactName`.

Notes:
- The names of your columns must match exactly with what is specified.
- `customerContactName` can be formed by combining `customers.contactFirstName` and `customers.contactLastName`.
- `salesRepName` can be formed by combining `employees.firstName` and `employees.lastName`.

In [87]:
%%sql

SELECT CONCAT(c.contactFirstName, ' ', c.contactLastName) AS customerContactName,
       c.phone AS customerPhone,
       CONCAT(e.firstName, ' ', e.lastName) AS salesRepName
FROM customers c
JOIN employees e ON c.salesRepEmployeeNumber = e.employeeNumber
WHERE c.country = 'France'
ORDER BY customerContactName;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('Annette  Roulet', '61.77.6555', 'Gerard Hernandez'),
 ('Carine  Schmitt', '40.32.2555', 'Gerard Hernandez'),
 ('Daniel  Tonini', '30.59.8555', 'Gerard Hernandez'),
 ('Daniel Da Silva', '+33 1 46 62 7555', 'Loui Bondur'),
 ('Dominique Perrier', '(1) 47.55.6555', 'Loui Bondur'),
 ('Frédérique  Citeaux', '88.60.1555', 'Gerard Hernandez'),
 ('Janine  Labrune', '40.67.8555', 'Gerard Hernandez'),
 ('Laurence  Lebihan', '91.24.4555', 'Loui Bondur'),
 ('Marie Bertrand', '(1) 42.34.2555', 'Loui Bondur'),
 ('Martine  Rancé', '20.16.1555', 'Gerard Hernandez'),
 ('Mary  Saveley', '78.32.5555', 'Loui Bondur'),
 ('Paul  Henriot', '26.47.1555', 'Loui Bondur')]

## SQL 2

This query uses `employees`, `customers`, `orders`, `orderdetails`.

Write and execute a SQL query that produces a table showing the amount of money each sales rep has generated.

Your table should have the following columns:

- `salesRepName`
- `moneyGenerated`

Order your output from greatest to least `moneyGenerated`.
    
Notes:
- The names of your columns must match exactly with what is specified.
- `salesRepName` can be formed by combining `employees.firstName` and `employees.lastName`.
- To calculate `moneyGenerated`:
    - Every order in `orders` is associated with multiple rows in `orderdetails`. The total amount of money spent on an order is the sum of `quantityOrdered * priceEach` for all the associated rows in `orderdetails`. **Only consider orders that are `Shipped`.**
    - A customer can have multiple orders. The total amount of money a customer has spent is the sum of the money spent on all that customer's orders.
    - A sales rep can have multiple customers. `moneyGenerated` is the sum of the money spent by all that sales rep's customers.
- You may find the [WITH keyword](https://www.tutorialspoint.com/mysql/mysql_with.htm) to be useful for cleaner code.

In [88]:
%%sql

WITH OrderTotals AS (
    SELECT o.customerNumber,
           SUM(od.quantityOrdered * od.priceEach) AS totalAmount
    FROM orders o
    JOIN orderdetails od ON o.orderNumber = od.orderNumber
    WHERE o.status = 'Shipped'
    GROUP BY o.customerNumber
),
CustomerTotals AS (
    SELECT c.salesRepEmployeeNumber,
           SUM(ot.totalAmount) AS moneyGenerated
    FROM OrderTotals ot
    JOIN customers c ON ot.customerNumber = c.customerNumber
    GROUP BY c.salesRepEmployeeNumber
)
SELECT CONCAT(e.firstName, ' ', e.lastName) AS salesRepName,
       ct.moneyGenerated
FROM CustomerTotals ct
JOIN employees e ON ct.salesRepEmployeeNumber = e.employeeNumber
ORDER BY ct.moneyGenerated DESC;

 * mysql+pymysql://root:***@localhost
15 rows affected.

[('Gerard Hernandez', Decimal('1065035.29')),
 ('Leslie Jennings', Decimal('1021661.89')),
 ('Pamela Castillo', Decimal('790297.44')),
 ('Larry Bott', Decimal('686653.25')),
 ('Barry Jones', Decimal('637672.65')),
 ('George Vanauf', Decimal('584406.80')),
 ('Loui Bondur', Decimal('569485.75')),
 ('Peter Marsh', Decimal('523860.78')),
 ('Andy Fixter', Decimal('509385.82')),
 ('Foon Yue Tseng', Decimal('488212.67')),
 ('Mami Nishi', Decimal('457110.07')),
 ('Steve Patterson', Decimal('449219.13')),
 ('Martin Gerard', Decimal('387477.47')),
 ('Julie Firrelli', Decimal('386663.20')),
 ('Leslie Thompson', Decimal('307952.43'))]